.parent{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
   /* background-color: rgb(196, 221, 202); */
}

.segment{
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-rows: 100px;
    /*background-color: rgb(181, 223, 132); */
}

.twelve{
    background-color: rgb(221, 221, 71);
    grid-column: 5/ Span 2;
}

.eight{
    background-color: rgb(207, 118, 118);
    grid-column: 5/ Span 8;
}

.four{
    background-color: rgb(133, 185, 54);
    grid-column: 1/ Span 4;
}

.six{
    background-color: rgb(98, 98, 207);
    grid-column: 1/ Span 6;
}

.seven{
    background-color: rgb(207, 151, 207);
    grid-column: 2/ span 6;
}