h1{
    text-align: center;   
    color:rgba(177, 50, 209, 0.945);
    height: 45px;
    background-color: pink;
    padding-top: 10px;
    padding-bottom: 5px;
    border: 3px solid rgb(177, 32, 190);
}

h2{
    text-align: center;
    color: rgb(155, 11, 160);
}

.box {
    justify-content: center;
    background-color: rgb(230, 190, 214);
    margin: 2px;
    padding: 1px;
    border: 3px solid rgb(131, 5, 131);
    height: 30px;
    width: 94px;
    padding-top: 18px;
    padding-right: 1px;
    padding-left: 9px;
}

.flex-container{
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 160px;
    flex-wrap: wrap;
    gap: 5px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    padding: 14px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
