body{
    background: rgb(103, 177, 103);
}

.con-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 200px;
    gap: 20px;
}

.con1{
    background: blue;
}

.con2{
    background: orange;
}

.con3{
    background: red;
}

.con4{
    background: purple;
}

@media screen and (max-width:660px){
    .con-main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }   
}