*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #212121;
    height: 108px;
    width: 100%;
}

nav ul{
    display: flex;
    float:left;
    margin-left: 9px;
} 

nav ul li{
    display: inline-block;
    line-height: 110px;
}

nav ul li a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 48px 0px 0px;
    text-transform: uppercase;
}

.image-button img {
    width: 24px;
    height: 24px;
    margin: 9px;
    position: relative; 
    top: 36px;
    left: 48px;
}

.order-button {
    background-color: rgb(116 135 88);
    color: white; 
    padding: 16px 36px; 
    border: none; 
    border-radius: 3px;
    margin-left: 70px; 
    font-size: 14px;
    position: relative;
    top: 16px;
}

.badge {
    background-color:  rgb(116 135 88); 
    color: white; 
    font-size: 12px; 
    font-weight: 600;
    border-radius: 50%; 
    padding: 0px 6px; 
    position: absolute;
    top: 9px; 
    left: 117px; 
    z-index: 1; 
    line-height: 18px;
  }
  
  .image-button {
    position: relative; 
  }


.login-box {
    max-width: 463px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid rgba(233, 228, 228, 0.992);
    border-radius: 5px;
    position: relative;
    top: 50px;
    height: 533px;
    margin-bottom: 70px;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}

.input-container {
    margin-bottom: 15px;
    background-color: #f3f2f2;
    border-radius: 5px;
    padding-top: 13px;
}

label {
    font-size: 13px;
    /* margin-left: 15px; */
    display: block;
    border-radius: 5px;
    margin-left: 14.2px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 13px;
    border: 1px solid #f3f2f2;
    border-radius: 5px;
    background-color:#f3f2f2;
    font-size: 14.2px;
}

input::placeholder {
    color: rgb(78, 74, 74);
}

.input-container .fa-envelope-o {
    position: absolute;
    transform: translateY(-50%);
    left: 395px; 
    font-size: 13.5px;
    color: rgb(167, 161, 161);
}

.input-container .fa-eye-slash {
    position: absolute;
    transform: translateY(-50%);
    left: 395px; 
    font-size: 17px;
    color: rgb(167, 161, 161);
}

.login-button {
    background-color: #748758;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 186.5px; 
    font-size: 15px;
    cursor: pointer;
}

.forgot-password {
    display: block;
    margin-top: 18px; 
    color: #4d4e50; 
    text-decoration: none;
    font-size: 13px;
}

.or-line {
    margin: 20px 0;
    display: flex;
    align-items: center;
    font-size: 12px;
}

hr {
    flex-grow: 1;
}

.or-line hr {
    background-color: rgb(238, 231, 231); 
    height: 1px; 
    border: none; 
}


.social-buttons {
    margin-top: 20px;
    justify-content: center;
    align-content: center; 
}

.google-button, .facebook-button {
    border-radius: 3px;
    font-size: 14.5px;
    cursor: pointer;
    display: inline-block; 
    white-space: nowrap; 
    margin-bottom: 10px;
}

.social-buttons button + button {
    margin-left: 10px; 
}

.google-button {
    background-color: #cf463a; 
    border: 1px solid #cf463a;
    color: white; 
    padding: 12px 90px;
    padding-top: 6.5px;
    padding-bottom: 13.5px;
}

.google-button img{
    height: 24px;
    width: 24px;
    position: relative;
    top: 5px;
    right: 168px;
    border-radius: 2px;
}

.facebook-button {
    background-color: #3b5998; 
    border: 1px solid #3b5998;
    color: white;
    padding: 12px 92px;
    padding-top: 6.5px;
    padding-bottom: 13.5px; 
}

.facebook-button img{
    height: 22px;
    width: 20px;
    position: relative;
    top: 4px;
    right: 170px;
    border-radius: 2px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14.5px;
    color: #9b8e8e;
    margin-bottom: 47px;
}

pre{
    color: white;
    font-size: 14px;
    font-family: Ubuntu, sans-serif;
}
footer{
    background-color: #212121;
    padding: 14.5px 40px;
}