.main header{
    font-size: 15px;
    /* background-color: white; */
    text-align: end;
    padding-right: 40px;
}

.main img{
    width: 98px;
    height: 98px;
    position: relative; left: 40px;
}