.flex-container0{
    background:rgb(196, 232, 241);
    text-align: center;
    font-size: 25px;
    font-family: monospace;
}

.flex-container{
    background: rgb(196, 232, 241);
    display: flex;
    justify-content: center;
}

.flex-container1{
    background: rgb(196, 232, 241);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flex-container2{
    background: rgb(196, 232, 241);
    display: flex;
    justify-content: center;
}

.box{
    background-color: rgb(12, 123, 167);
    border-radius: 1px;
    padding: 50px;
    width: 1070px;
    height: 15px;
    margin: 20px;
}

.boxx{
    background-color: rgb(12, 123, 167);
    border-radius: 1px;
    padding: 50px;
    height: 193px;
    width: 165px;
}

.boxx2{
    width: 500px;
}


.boxy{
    background-color: rgb(12, 123, 167);
    border-radius: 1px;
    padding: 50px;
    width: 1070px;
    height: 15px;
    margin: 20px;
}