.flex-container5{
    margin: 20px;
}

.flex-container3{
    justify-content: center;
    align-items: center;
    display: flex;
}

.flex-container4{
    justify-content: center;
    display: flex;
    gap: 18px;
}

.boxi1{
    background-color: rgb(219, 112, 112);
    border: solid rgb(131, 133, 231) 2px;
    height: 130px;
    width: 727px;
}

.boxxi1{
    background-color: rgb(131, 223, 131);
    border: solid rgb(131, 133, 231) 2px;
    height: 420px;
    width: 155px;
}

.boxxi2{
    background-color: rgb(137, 152, 223);
    border: solid rgb(131, 133, 231) 2px;
    height: 420px;
    width: 550px;
}
